:root {
  --background: hsla(0, 0%, 90%, 1);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsla(240, 9%, 17%, 1);
    --foreground: #171717;
  }
}

html,
body {
  /* see https://www.youtube.com/watch?v=ru3U8MHbFFI */
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}

body {
  background: var(--background);
  background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
  color: var(--foreground);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* this will be overridden, so it's just a default if scripts do not load */
  font-family: Arial, Helvetica, sans-serif;
}

/* requires a modern browser, should emulated for a production site */
body.blur {
  backdrop-filter: blur(5px);
}

body > main {
  /* see https://www.youtube.com/watch?v=ru3U8MHbFFI */
  min-height: 100dvh;
}

/* css resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* css resets */
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
