.page {
  /* requires a somewhat modern browser */
  background: url("/logo.svg") no-repeat center center;
  background-size: 50%;
  height: 100%;
}

.soldier {
  background: url("/soldier.png") no-repeat bottom center;
  background-size: 50%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  .page {
    /* requires a somewhat modern browser */
    filter: invert(100%);
  }
}
